:root {
    --dark-color: #323232;
    --accent-color: #B97DFF;
    --lighter-color: #5A5A5A;

    /* Gradients */
    --color-one: #7D87FF;
    --color-two: var(--accent-color);
    --color-three: #FFAF7D;
}

@media screen and (min-width: 375px) {

    .hero {
        text-align: center;
    }

    .name {
        font-size: 2.8rem;
        font-weight: 800;
        
        margin: 0;
    }
    .name span {
        background-image: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-three));
        color: transparent;
        background-clip: text;
    }

    .tagline {
        font-size: 1.5rem;
        font-weight: 600;

        margin: 0;
        padding-top: 1.5rem;
    }

    .greeting {
        font-size: 1rem;
        font-weight: 400;
        color: var(--lighter-color);

        margin: 0;
        padding-top: 1rem;
    }
    .cta {
        width: 10.5rem;
        height: 3rem;
        
        font-size: 1.25rem;
        font-weight: 600;

        background-color: var(--dark-color);
        color: #FFFFFF;
        border: none;

        margin: 1.5rem 0 0 0;
    }
    .headshot {
        max-width: 100%;
        margin: 0;
        padding-top: 2rem;
    }
}