:root {
    --dark-color: #323232;
    --accent-color: #B97DFF;
    --light-color: #414141;
    --lighter-color: #5A5A5A;

    /* Gradients */
    --color-one: #7D87FF;
    --color-two: var(--accent-color);
    --color-three: #FFAF7D;

    /* Lone Star */
    --lsc-blue: #1A3859;
    --lsc-blue-lighter: #2b5d92;
    --lsc-red: #BA364A;
}

/* Do one for a PC and one for a laptop. */

/* (The below is for PC dimensions) */



/* ------- */
/* CONTENT */
/* ------- */

section {
    min-height: calc(100vh - 10rem);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16rem;
}



/* ------------ */
/* HERO SECTION */
/* ------------ */

.hero-section {
    margin-bottom: 8rem;
}

.hero-content {
    display: flex;
    align-items: center; /* flex-start for top alignment .. center for centered alignment*/
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.hero-text {
    padding-right: 4rem;
    height: 100%;
}

.intro {
    font-size: 5.4rem;
    font-weight: 800;
    margin-bottom: 0.4rem;
}

.intro span {
    background: linear-gradient(to right, #2563EB, #EB4925);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tagline {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.spiel {
    font-weight: 500;
    color: var(--light-color);
    line-height: 1.5;
    max-width: 66ch;
    font-size: 1.2rem;
    
    margin-bottom: 2.4rem; /* previously 6.4rem */
}

.cta-button {
    padding: 1rem 2rem;

    border: none;
    background-color: var(--dark-color);
}

.cta-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
}

.hero-image {
    flex-shrink: 0;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    width: 32rem;
    border: 2px solid var(--dark-color);
    display: block;
}



/* ---------------- */
/* Section Elements */
/* ---------------- */

section h3 {
    font-size: 3rem;
    font-weight: 700;
}

section h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

section p {
    /* text-indent: 4ch; */
    max-width: 66ch;

    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}



/* ------------------ */
/* Personal Statement */
/* ------------------ */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4rem;
    width: 100%;
}

.about-content p {
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    font-weight: 450;
}

/* ---------- */
/* CS Section */
/* ---------- */





/* ----- */
/* Music */
/* ----- */

.music {
    margin-bottom: 8rem;
}

.music-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4rem;
    width: 100%;
}

.instrument {
    align-self: center; /* flex-start for left alignment*/
}

.instrument p {
    margin: 1rem 0 0 1rem;
    border-left: 2px solid rgba(50, 50, 50, 0.1);
    padding-left: 2rem;
}

/* Motorcycles */

.motorcycles-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.bikes {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.motorcycles img {
    max-width: 100%;
    height: auto;
    width: 32rem;
    border: 2px solid var(--dark-color);
}