section {
    min-height: 100vh;
    padding: 0 16rem;
}

.research h1 {
    font-size: 4rem;
    font-weight: 800;

    padding: 4rem 0;
    margin: 2rem auto 4rem auto;

    width: fit-content;

    background: linear-gradient(to right, var(--color-one), var(--color-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project {
    margin-bottom: 6rem;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    gap: 2rem;
}

.project-title {
    font-size: 1.4rem;
    font-weight: 600;

    max-width: 66ch;
}

.project-title span {
    font-weight: 800;
}

.project-date {
    font-size: 1.4rem;
    font-weight: 600;

    white-space: nowrap;
}

.project-contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: 2rem 0 0 2rem;
    border-left: 2px solid var(--lighter-color);
    padding-left: 2rem;

    max-width: 66ch;
    transition: border-color 0.2s ease;
}

.project-contents:hover {
    border-left-color: var(--accent-color);
}

.info {
    font-weight: 600;
}

.achievements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.achievements span {
    font-weight: 600;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 700;

    border: 2px solid var(--dark-color);

    padding: 0.8rem 2.6rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.links a:hover {
    background-color: var(--dark-color);
    color: var(--bg-color);
}