section {
    min-height: 100vh;
    padding: 0 16rem;
}

.artifacts {
    animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(1rem); }
    to { opacity: 1; transform: translateY(0); }
}

.artifacts h1 {
    font-size: 4rem;
    font-weight: 800;

    padding: 4rem 0;
    margin: 2rem auto 4rem auto;

    width: fit-content;

    background: linear-gradient(to right, var(--color-one), var(--color-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1280px) {
    section {
        padding: 0 clamp(1.5rem, 13vw, 16rem);
    }

    .artifacts h1 {
        font-size: 3.6rem;
        margin: 5rem auto 0rem auto;
    }
}

@media (max-width: 1024px) {
    section {
        padding: 0 clamp(1.5rem, 13vw, 16rem);
    }

    .artifacts h1 {
        font-size: 3.6rem;
        margin: 5rem auto 0rem auto;
    }
}