section {
    min-height: 100vh;
    padding: 0 16rem;
}

.artifacts h1 {
    font-size: 4rem;
    font-weight: 800;

    padding: 4rem 0;
    margin: 2rem auto 4rem auto;

    width: fit-content;

    background: linear-gradient(to right, var(--color-one), var(--color-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}